<div class="container">
<mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="resumeForm">
        <ng-template matStepLabel>Personal Information</ng-template>
        <app-personal-information [resume]="resume" [resumeForm]="resumeForm"></app-personal-information>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Work Experience</ng-template>
        <app-work-experience  [resume]="resume" [workExperienceForm]="workExperienceForm"></app-work-experience>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step >
        <ng-template matStepLabel>Education</ng-template>
        <app-education  [resume]="resume" [educationForm]="educationForm"></app-education>
       <button class="submit-unosquare" type="button" (click)="submit(resumeForm)"
               mat-raised-button>Submit</button>
       <button class="submit-unosquare" type="button" (click)="download()"
                mat-raised-button>Download</button>
    </mat-step>
  </mat-stepper>
</div>
