<div class="main-container">
  <app-header (menuClick)="sidenav.toggle()"></app-header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <ng-container *ngIf="loggedIn | async else notLoggedIn">
          <mat-list-item *ngFor="let pageLink of pageLinks" mat-line [routerLink]="pageLink.route" (click)="!sidenav.toggle()">
            <li aria-current="page">{{ pageLink.label }}</li>
          </mat-list-item>
          <mat-list-item  (click)="!sidenav.toggle()">
            <li mat-line routerLink="/resumes">Resumes</li>
          </mat-list-item>
          <mat-list-item  (click)="!sidenav.toggle()">
            <li mat-line routerLink="/notes">Notes</li>
          </mat-list-item>
          <mat-list-item (click)="logout()" (click)="!sidenav.toggle()">
            <li mat-line routerLink="/home">Logout</li>
          </mat-list-item>
        </ng-container>
        <ng-template #notLoggedIn>
          <mat-list-item (click)="login()" (click)="!sidenav.toggle()">
            <li mat-line routerLink="/home">Login</li>
          </mat-list-item>
        </ng-template>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
