<button mat-icon-button (click)="addResume()">
    <mat-icon>add</mat-icon>
</button>
<ng-container *ngIf="resumes | async; let loadedResumes">
    <table mat-table [dataSource]="loadedResumes">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.fullName }}</td>
        </ng-container>
        <ng-container matColumnDef="currentRole">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{ element.currentRole }}</td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{ element.description }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index">
                <div class="action-buttons">
                    <button mat-icon-button (click)="editResume(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="downloadResume(element)">
                        <mat-icon>download</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let form-group; columns: tableColumns;"></tr>
        <tr *matNoDataRow>
            <td [attr.colspan]="tableColumns.length">
                <div class="table-empty-message">
                    <button mat-button (click)="addResume()">
                        You don't have any resumes, click here to create a new one.
                    </button>
                </div>
            </td>
        </tr>
    </table>
</ng-container>