@import '~@angular/material/theming';

$unosquare-primary: (
  50: #e9ebfe,
  100: #c8ccfc,
  200: #a2abfb,
  300: #7989fa,
  400: #576df7,
  500: #3050f3,
  600: #2b47e7,
  700: #1d3cda,
  800: #0d30cf,
  900: #0014be,
  A100: #82B1FF,
  A200: #448AFF,
  A400: #2979FF,
  A700: #2962FF,
);  

$unosquare-accent: (
  50: #f8f8f8,
  100: #f1f1f1,
  200: #e7e7e7,
  300: #d7d7d7,
  400: #b3b3b3,
  500: #939393,
  600: #6b6b6b,
  700: #575757,
  800: #393939,
  900: #191919
);

$unosquare-theme: mat-light-theme(
  $unosquare-primary,
  $unosquare-accent
);

@include angular-material-theme($unosquare-theme);