<div style="height: 100%;">

<mat-toolbar color="primary" style="background-color: #191919 !important; color:f2f2f2;">
    <mat-toolbar-row>
        <button mat-icon-button (click)="!sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
      <span routerLink="/home">🦄 MakeMyResume</span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container" style="height: 100%;">
    <mat-sidenav #sidenav class="sidenav" mode="over" >
      <mat-nav-list>
        <ng-container *ngIf="isLoggedIn(); else notLoggedIn">
          <mat-list-item mat-line routerLink="/home" (click)="!sidenav.toggle()">
            <li  aria-current="page">Home</li>
          </mat-list-item>
          <mat-list-item routerLink="/resumes" (click)="!sidenav.toggle()">
            <li mat-line  routerLinkActive="active" aria-current="page">My Resume</li>
          </mat-list-item>
          <mat-list-item routerLink="/admin-panel" (click)="!sidenav.toggle()">
            <li mat-line aria-current="page">Admin Panel</li>
          </mat-list-item>
          <mat-list-item (click)="logout()" (click)="!sidenav.toggle()">
            <li mat-line routerLink="/home">Logout</li>
          </mat-list-item>
        </ng-container>
        <ng-template #notLoggedIn>
          <mat-list-item (click)="login()" (click)="!sidenav.toggle()">
            <li mat-line routerLink="/home">Login</li>
          </mat-list-item>
        </ng-template>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
      
</div>
  